{
  "rules": {
    // "strict": 0,
    "indent": ["error", 4],
    "no-plusplus": "off",
    "no-multiple-empty-lines": ["error", { "max": 1, "maxEOF": 1 }],
    "no-continue": "off",
    "no-alert": "off",
    "no-restricted-syntax": "off",
    "max-len": ["error", { "code": 120, "tabWidth": 4, "ignoreComments": true }],
    "radix": ["error", "as-needed"],
    "prefer-destructuring": "off",
    "guard-for-in": "off",
    "import/no-extraneous-dependencies": "off",
    "strict": "off",
    "no-undef": "warn",
    "no-param-reassign": "off",
    "brace-style": "off",
    "no-unused-vars": "warn",
    "no-restricted-globals": "off",
    "no-use-before-define": "off",
    "vars-on-top": "off",
    "import/no-mutable-exports": "off",
    "prefer-const": "off",
    "consistent-return": "off",
    "camelcase": "warn",
    "no-shadow": "warn",
    "no-prototype-builtins": "off",
    "no-constant-condition": "warn",
    "prefer-rest-params": "off",
    "no-unused-expressions": "off",
    "prefer-arrow-callback": "off",
    "no-new": "warn",
    "no-else-return": "off",
    "comma-dangle": "off",
    "arrow-body-style": "off",
    "no-labels": "off",
    "no-useless-escape": "off",
    "no-empty": "off",
    "func-names": "error",
    "dot-notation": "off",
    "import/first": "off",
    "no-loop-func": "off",
    "global-require": "off"
  }
}

